.p-datatable.entity-datatable {
  .p-datatable-table-container {
    overflow: visible;
  }

  .p-button {
    padding: 0.25em;

    .iconify {
      font-size: 1.5em;
      color: $primary-color;
    }
  }

  &:has(.p-skeleton) {
    .p-datatable-thead {
      .p-datatable-header-cell {
        &:has(.p-datatable-filter) {
          padding: 9px !important;

          .p-datatable-column-filter-button {
            display: none;
          }
        }
      }
    }
  }
  
  &:not(:has(.p-skeleton)) {
    margin-top: .375em;

    .p-datatable-thead {
      .p-datatable-header-cell {
        &:has(.p-datatable-filter) {
          position: relative;
          padding: 0 !important;
          overflow: visible;
    
          &:hover {
            background-color: $bg-black-color !important;
          }

          .p-datatable-filter {
            .p-inputtext {
              width: 100%;
              max-height: 40px;
              z-index: 1;
              transition: border-radius 0.3s ease-out;
        
              &:not(:focus) {
                border-color: transparent !important;
                border-radius: 0 !important;
              }
            }
    
            .p-button {
              position: absolute !important;
              right: 0;
              height: 100%;
              width: 40px;
              border-radius: 50%;
              border: transparent !important;
    
              &:not(:hover) {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .p-datatable-table {
    .id-column,
    .index-column {
      width: 8%;
    }

    .content-column,
    .header-column,
    .label-column,
    .title-column,
    .name-column,
    .full-name-column,
    .path-column {
      width: 60%;
    }

    .tablet-column,
    .desktop-column {
      display: none;
    }

    .action-column {
      width: 2%;
      min-width: 49px;

      .action-column-content {
        display: flex;
        justify-content: space-around;
        gap: 0.1em;
      }
    }

    .email-column,
    .role-column,
    .created-at-column,
    .updated-at-column,
    .id-activity-column,
    .causer-id-column,
    .created-at-activity-column,
    .mime-type-column,
    .size-column {
      display: none;
    }

    .content-column,
    .header-column,
    .label-column,
    .title-column,
    .category-column,
    .description-column,
    .name-column,
    .src-column,
    .question-category-column,
    .path-column {
      overflow: hidden;
      white-space: nowrap;
    }

    .content-column,
    .header-column,
    .label-column,
    .src-column,
    .title-column {
      max-width: 200px;
    }

    .description-column {
      max-width: 260px;
    }

    .name-column {
      max-width: 280px;
    }

    @media (min-width: 530px) {
      .index-column,
      .id-column {
        width: 15%;
      }

      .role-column,
      .birthday-column,
      .mime-type-column,
      .id-activity-column {
        display: table-cell;
      }

      .name-column,
      .full-name-column {
        width: 45%;
      }
    }

    @media (min-width: $md) {
      .index-column,
      .id-column,
      .size-column {
        width: 10%;
      }

      .name-column,
      .full-name-column {
        width: 25%;
      }

      .role-column,
      .birthday-column,
      .mime-type-column {
        width: 18%;
      }

      .email-column,
      .size-column,
      .created-at-activity-column {
        display: table-cell;
      }

      .email-column,
      .path-column {
        width: 30%;
      }

      .created-at-activity-column {
        width: 28%;
      }
    }

    @media (min-width: $lg) {
      .desktop-column {
        display: table-cell;
      }

      .email-column,
      .path-column {
        width: 32%;
      }

      .role-column,
      .birthday-column,
      .mime-type {
        width: 15%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 38%;
      }

      .question-category-column,
      .category-column {
        width: 20%;
      }

      .action-column {
        min-width: 120px;
      }
    }

    @media (min-width: $xl) {
      .index-column,
      .id-column {
        width: 8%;
      }

      .name-column,
      .full-name-column {
        width: 20%;
      }

      .email-column,
      .path-column {
        width: 28%;
      }

      .created-at-column {
        display: table-cell;
        width: 20%;
      }

      .category-column {
        width: 20%;
      }

      .question-category-column {
        width: 19%;
      }
    }

    @media (min-width: $xxl) {
      .index-column,
      .id-column {
        width: 6%;
      }

      .name-column,
      .full-name-column {
        width: 12%;
      }

      .email-column,
      .path-column {
        width: 16%;
      }

      .role-column,
      .birthday-column,
      .mime-type-column {
        width: 10%;
      }

      .created-at-column,
      .updated-at-column {
        display: table-cell;
        width: 14%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 30%;
      }

      .category-column {
        width: 18%;
      }
    }

    @media (min-width: 1500px) {
      .created-at-column,
      .updated-at-column {
        width: 12%;
      }

      .content-column,
      .header-column,
      .label-column,
      .src-column,
      .title-column {
        width: 23%;
      }

      .category-column {
        width: 15%;
      }
    }
  }
}

.p-datatable-filter-overlay {
  .p-datatable-filter-constraint-list {
    padding: 0;

    .p-datatable-filter-constraint {
      &:hover:not(&-selected) {
        background-color: $content-background !important;
      }

      &-selected {
        background-color: var(--p-select-option-focus-background) !important;
      }
    }
  }
}